<html>

<head>
    <meta charset="utf-8">

    <!-- Exemplo de acesso à arquivos CSS 
    <link rel="stylesheet" href="http://localhost:3001/css/estilos.css">
    -->
     <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <div>
        <h1> Meus Livros Favoritos 3.1 </h1>
    </div>



    <!--  Exemplo de acesso à recursos de mídia quando o Frontende é servido pelo NODE -->
    <img id="idImagem" src="img/autolah.jpg" alt="" width="15%">

    <!--  Exemplo de acesso à recursos de mídia quando o Frontende é desenvolvido em um 
        projeto desacoplado do Backende -->
    <img id="idImagem" src="http://localhost:3001/img/joinha.jpg" alt="" width="15%">

    <!--  Alternativamente pode-se hospedar os recursos de mídia em um terceiro servidor --> 
    <img id="idImagem" src="https://ivan-j-borchardt.github.io/imagens/joinha.jpg" alt="" width="15%">       
    

    <!-- Link de Download-->
    <p>baixe o livro <a href="Clean Code.pdf" download>Clean Code</a> aqui</p>

   
</body>

<!-- Exemplo de acesso a arquivos javaScript -->
<script src="js/log.js"></script>

</html>